# Compile products
*.pyc
*.class
*.crc
*.o
*/target/
# SBT, Maven specific
.cache
.history
.lib/
dependency-reduced-pom.xml

# IDE specific
.scala_dependencies
.worksheet
*.iml
.idea/

# macOS specific
.DS_Store

# data files
*.csv
model*.[0-9]*
state*.[0-9]*

# other
nohup.out
*.log
*.un~
.ipynb_checkpoints/
.project
.settings/
*/.cache-main
*/.cache-tests
*/.classpath
*/.project
*/.settings/
